<div class="card-holder">
    @for (item of abc; track abc) {
    @if (!item.isFlipped) {
      <div class="card front" (click)="setThis(item, true)">{{ item.name }}</div>
    }
    @if (item.isFlipped) {
      <div class="card back" (click)="setThis(item, false)"></div>
    }
  }
</div>

<!--<div class="card-holder">-->
<!--  @for (item of abc; track abc) {-->
<!--    @if (!item.isFlipped) {-->
<!--      <div class="card front" (click)="setThis(item, true)">{{ item.name }}</div>-->
<!--    }-->
<!--    @if (item.isFlipped) {-->
<!--      <div class="card back" (click)="setThis(item, false)">{{($index + 1) < 10 ? "0" + ($index + 1) : $index + 1 }}</div>-->
<!--    }-->
<!--  }-->
<!--</div>-->
