#outplayed-words-container {
  padding-left: 25px;
  width: 100%;
  min-width: 150px;
  max-width: 250px;
  border-left: lightslategrey 1px solid;

}
  .outplayed-words-list {
    width: 100%;
    padding: 10px;
    background: none;

  }

