<div id="outplayed-words-container">
  <table>
    <thead class="outplayed-words-list">
    <tr >
      <th class="outplayed-words-list">Tippek</th>
      <th class="outplayed-words-list">Eredmény</th>
    </tr>
    </thead>
    <tbody>

  @for (item of guessedWords; track item) {
    <tr>
      <td><app-word-letter-box
        [word]="item.usedWord"
        [colors]="wordColors[item.usedWord]"
        (colorChange)="updateWordColors(item.usedWord, $event)"
      >

      </app-word-letter-box></td>
    <td class="outplayed-words-result">{{ item.result }}</td>
    </tr>
  }

    </tbody>
  </table>
</div>
