#outplayed-words-container {
  padding-left: 25px;
  width: 100%;
  min-width: 150px;
  max-width: 450px;
  border-left: lightslategrey 1px solid;

}
  .outplayed-words-list {
    width: 100%;
    padding: 10px;
    background: none;
  }
  //.outplayed-words-result {
  //  width: 100%;
  //  padding: 10px;
  //  background: none;
  //  margin: auto;
  //}

