.letter-box {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: lightslategrey 1px solid;
  text-align: center;
  line-height: 30px;
  margin: 2px;
  cursor: pointer;
  user-select: none;
}
