@use 'variables';

.secret-word-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 70%;
  margin: 30px 5px;
  padding: 10px;
  border-bottom: lightslategrey 1px solid;

  .secret-word-content {
    display: flex;
    flex-wrap: wrap;

    .secret-word-place{
      width: 50px;
      height: 50px;
      text-align: center;
      margin: 0 2px;
      border: 1px solid rgba(variables.$primary, 0.4);

      //background: ;

      p{
        font-size: large;
        color: variables.$primary;
        font-weight: bold;
      }
    }
  }
}
