@if (!isGetSecretWord) {
  <button mat-raised-button color="primary" (click)="getSecretWord()">Kérek egy kitalálandó szót!</button>
}
@if (isGetSecretWord) {
  <div class="secret-word-container">
    <div><p>A kitalálandó szó:</p></div>
    <div class="secret-word-content">
      @for (char of secretWord.secretWord; track char) {
        <mat-card class="secret-word-place"><p>?</p>
<!--          <mat-icon>question_mark</mat-icon>-->
        </mat-card>
      }
    </div>
    <p>Kezdheted a játékot!</p>
  </div>
}
