<div id="input-form">
  <form class="input-form" [formGroup]="inputWordForm">
    <mat-form-field class="input-full-width">
      <mat-label>Következő tipp</mat-label>
      <input type="text"
             matInput
             formControlName="userWord"
      >
      @if (inputWordForm.controls['userWord'].errors?.['exactLength']) {
        <mat-error>Kérlek adj meg egy 5 betűs szót, ahol a leírt betűk számítanak</mat-error>
      }
    </mat-form-field>
  </form>
  <button mat-raised-button
          color="primary"
          [disabled]="inputWordForm.invalid"
          (click)="send()"
  >
    Beküld
  </button>
</div>

<app-word-list [guessedWords]="guessResult"></app-word-list>
<!--@for (item of guessResult; track item) {-->
<!--  <mat-card class="outplayed-words-list">A szó: {{ item.usedWord }}</mat-card>-->
<!--  <mat-card class="outplayed-words-list">A találat: {{ item.result }}</mat-card>-->
<!--}-->
